{% if page.category %}
{% assign postings = page %}
{% else %}
{% assign postings = post %}
{% endif %}
<article-author>
	{% for author in site.data.authors %}
   	{% if author.name == postings.author %}
   	{% assign rank = author.role %}
	{% capture role %}
	{% if rank == 0 %}
	estagiário
	{% elsif rank == 1 %}
	autor
	{% elsif rank == 2 %}
	suporte
	{% elsif rank == 3 %}
	editor
	{% elsif rank == 4 %}
	moderador
	{% elsif rank == 5 %}
	administrador
	{% endif %}
	{% endcapture %}
	<div class="author-avatar">
		<img src="{{ site.baseurl }}{{ author.avatar }}" alt="{{ author.name }}" loading="lazy">
	</div>
	<div class="author-name">{{ author.name }}</div>
	<div class="author-role role-{{ author.role }}">{{ role | slugify: "latin" }}</div>
	<div class="author-infor">
		<div>
			<span>Juntou-se:</span>
			<span>{{ author.joined }}</span>
		</div>
		<div>
			<span>Publicações:</span>{% assign author_posts = site.posts | where: "author", author.name %}
			<span class="author-infor-count" style="--num:{{ author_posts.size }};"></span>
		</div>
		<div>
			<span>Filmes:</span>{% assign movies = site.posts | where: "author", author.name | where: "category", "Filmes" %}
			<span class="author-infor-count" style="--num:{{ movies.size }};"></span>
		</div>
		<div>
			<span>Séries:</span>{% assign series = site.posts | where: "author", author.name | where: "category", "Séries" %}
			<span class="author-infor-count" style="--num:{{ series.size }};"></span>
		</div>
	</div>
	{% endif %}
	{% endfor %}
</article-author>