{% if page.category %}
{% assign postings = page %}
{% else %}
{% assign postings = post %}
{% endif %}
{% assign vote_average = postings.vote_average | remove: "." %}
{% assign pessimo = "10,11,12,13,14,15,16,17,18,19,20" | split: ',' %}
{% assign ruim = "21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40" | split: ',' %}
{% assign aceitavel = "41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60" | split: ',' %}
{% assign otimo = "61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80" | split: ',' %}
{% assign execelente = "81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,100" | split: ',' %}
{% if pessimo contains vote_average %}
{% assign status_text = "Péssimo" %}
{% assign hex_color = "#ff3722" %}
{% elsif ruim contains vote_average %}
{% assign status_text = "Ruim" %}
{% assign hex_color = "#ff8622" %}
{% elsif aceitavel contains vote_average %}
{% assign status_text = "Aceitável" %}
{% assign hex_color = "#ffce00" %}
{% elsif otimo contains vote_average %}
{% assign status_text = "Ótimo" %}
{% assign hex_color = "#73cf11" %}
{% elsif execelente contains vote_average %}
{% assign status_text = "Excelente" %}
{% assign hex_color = "#4aa757" %}
{% else %}
{% assign status_text = "Nenhum" %}
{% assign hex_color = "#dee0ec" %}
{% endif %}
{% if vote_average contains "100" %}
{% assign status_num = "10" %}
{% endif %}
{% if vote_average == "00" %}
{% assign status_num = "N/A" %}
{% endif %}
{% if vote_average != "00" and vote_average != "100" %}
{% assign status_num = postings.vote_average %}
{% endif %}
{% capture rating %}
{% if postings.vote_count == 0 %}
Nenhuma avaliação
{% elsif postings.vote_count <= 1 %}
{{postings.vote_count}} avaliação
{% elsif postings.vote_count >= 2 %}
{{postings.vote_count}} avaliações
{% endif %}
{% endcapture %}
<div class="summary-rating" style="--rating-color:{{ hex_color }}">
	<div class="summary-average">
		<svg viewBox="0 0 36 36" xmlns="http://www.w3.org/2000/svg">
			<path d="M18 2.0845 a 15.9155 15.9155 0 0 1 0 31.831 a 15.9155 15.9155 0 0 1 0 -31.831" opacity=".5" stroke-width="4" fill="none"></path>
			<path d="M18 2.0845 a 15.9155 15.9155 0 0 1 0 31.831 a 15.9155 15.9155 0 0 1 0 -31.831" stroke-dasharray="{{ vote_average | strip }}, 100" stroke-width="4" fill="none" stroke-linecap="round"></path>
			<text x="50%" y="55%" dominant-baseline="middle" stroke="none" text-anchor="middle">{{ status_num | strip }}</text>
		</svg>
	</div>
	<a href="/avaliacoes?vote_average={{status_text | slugify: "latin"}}">{{ status_text | strip }}</a>
	<div class="summary-rating-text">{{ rating | strip }}</div>
</div>