<article>
	{% include article_author.html %}
	<article-summary class="summary">
		<div class="summary-header">
			{% include article_date_formatting.html %}
			<div>{{ post.category }}</div>
		</div>
		<div class="summary-content">
			<div class="summary-poster">
                <img src="https://image.tmdb.org/t/p/{{ site.article_size_img_home }}{{ post.poster_path }}" alt="{{ post.title }}" {% if forloop.first %}{% else %}loading="lazy"{% endif %}>
            </div>
			<div class="summary-summary">
				<div class="summary-column">
					<h2 class="summary-title">
						<a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
                    </h2>
                    <div class="summary-synopsis item-scroll">{{ post.description }}</div>
					<div class="summary-crew">
						<div>Diretor:</div>
						<div class="item-comma">
							{% for crew in post.crews %}
							<a href="/diretor?crews={{crew | url_encode}}">{{ crew }}</a>
							{% endfor %}
						</div>
					</div>
					<div class="summary-cast">
						<div>Elenco:</div>
						<div class="item-comma">
							{% for cast in post.casts %}
							<a href="/elenco?casts={{cast | url_encode}}">{{ cast }}</a>
							{% endfor %}
						</div>
					</div>
					<div class="summary-genre">
						<div>Gênero:</div>
						<div class="item-comma">
							{% for genre in post.genres %}
							<a href="/genero?genres={{genre | url_encode}}">{{ genre }}</a>
							{% endfor %}
						</div>
					</div>
					<div class="summary-runtime">
						<div>Duração:</div>
						{% if post.runtime <= 60 %}
						<div>{{ post.runtime }}min</div>
						{% else %}
						<div>{{ post.runtime | divided_by: 60 | floor }}h {{ post.runtime | modulo: 60 }}min</div>
						{% endif %}
					</div>
				</div>

				<div class="summary-row">
					{% include article_average.html %}
					{% include article_certification.html %}
				</div>
			</div>
		</div>
		<div class="summary-footer">
			<div>
				<div>Qualidade:</div>
				<div class="item-comma">
					{% for quality in post.qualitys %}
					<a href="/qualidade?qualitys={{quality | url_encode}}">{{ quality }}</a>
					{% endfor %}
				</div>
			</div>
			<div>
				<div>Áudio:</div>
				<div class="item-comma">
					{% for audio in post.audios %}
					<a href="/audio?audios={{audio | url_encode}}">{{ audio }}</a>
					{% endfor %}
				</div>
			</div>
			<div>
				<div>Extensão:</div>
				<div class="item-comma">
					{% for extension in post.extensions %}
					<a href="/extensao?extensions={{extension | url_encode}}">{{ extension }}</a>
					{% endfor %}
				</div>
			</div>
		</div>
	</article-summary>
</article>