{% if page.category %}
{% assign postings = page %}
{% else %}
{% assign postings = post %}
{% endif %}
{% capture crtfctn_text %}
{% if postings.certification == "L" %}
LIVRE PARA TODOS OS PÚBLICOS
{% elsif postings.certification == 10 %}
NÃO RECOMENDADO PARA MENORES DE DEZ ANOS
{% elsif postings.certification == 12 %}
NÃO RECOMENDADO PARA MENORES DE DOZE ANOS
{% elsif postings.certification == 14 %}
NÃO RECOMENDADO PARA MENORES DE CATORZE ANOS
{% elsif postings.certification == 16 %}
NÃO RECOMENDADO PARA MENORES DE DEZESSEIS ANOS
{% elsif postings.certification == 18 %}
NÃO RECOMENDADO PARA MENORES DE DEZOITO ANOS
{% else %}
INDISPONÍVEL
{% endif %}
{% endcapture %}
<div class="parental-rating bg-cert-{{ postings.certification | strip }}" tooltipped-label="{{ crtfctn_text | strip }}" data-tooltipped="top-right">
	<a href="/classificacao?certification={{ postings.certification | strip }}">{{ postings.certification | strip }}</a>
</div>