<btn-stash>
	<div>Exibir filtro avançado</div>
	<svg class="btn-stash" viewBox="0 0 10 16" version="1.1" width="14" height="18" aria-hidden="true">
		<path fill-rule="evenodd" d="M5 11L0 6l1.5-1.5L5 8.25 8.5 4.5 10 6l-5 5z"></path>
	</svg>
</btn-stash>
<aside>
	<btn-stash>
		<div>Ordem de exibição</div>
		<svg class="btn-stash" viewBox="0 0 10 16" version="1.1" width="14" height="18" aria-hidden="true">
            <path fill-rule="evenodd" d="M5 11L0 6l1.5-1.5L5 8.25 8.5 4.5 10 6l-5 5z"></path>
        </svg>
    </btn-stash>
    <div class="category-items item-scroll">
	    <select class="category-sort">
		    <option value="default">Ordem de exibição</option>
		    <option value="title" data-sort="asc">Alfabética – A à Z</option>
		    <option value="title" data-sort="desc">Alfabética – Z à A</option>
		    <option value="vote_average" data-sort="asc">Avaliações – Menor ao Maior</option>
		    <option value="vote_average" data-sort="desc">Avaliações – Maior ao Menor</option>
		    <option value="post_date" data-sort="desc">Data de publicação – Recentes</option>
		    <option value="post_date" data-sort="asc">Data de publicação – Antigos</option>
		    <option value="post_modified" data-sort="desc">Data de atualização – Recentes</option>
		    <option value="post_modified" data-sort="asc">Data de atualização – Antigos</option>
		</select>
	</div>
{% for x in site.data.filters %}
	{% if x.query == "post_modified" or x.query == "vote_average" or x.query == "title" %}
		{% continue %}
	{% else %}
	<btn-stash>
		<div>{{ x.name }}</div>
		<svg class="btn-stash" viewBox="0 0 10 16" version="1.1" width="14" height="18" aria-hidden="true">
            <path fill-rule="evenodd" d="M5 11L0 6l1.5-1.5L5 8.25 8.5 4.5 10 6l-5 5z"></path>
        </svg>
    </btn-stash>
    <div class="category-items item-scroll">
    {% for y in x.items %}
	{% assign posts = site.posts | where: x.query, y.item %}
        {% if x.query == "adult" %}
		<btn-filter class="category-item {% if posts.size == 0 %}disabled{% endif %}" data-category="{{ x.query }}" data-query="{{ y.item }}">
			<div class="category-selector">
				<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 6.8 5.2" aria-label="Tick">
					<path d="M6.7.8L2.9 5c-.1.1-.3.2-.4.2-.1 0-.3-.1-.4-.2l-2-2c-.1-.2-.1-.5 0-.7s.5-.2.7 0L2.5 4 6 .2c.2-.2.5-.2.7 0 .2.1.2.4 0 .6z"></path>
				</svg>
			</div>
			<div class="category-title">{% if y.item %}18+{% else %}Normal{% endif %}</div>
			<div class="category-count" style="--num: {{ posts.size }};"></div>
		</btn-filter>
		{% else %}
		<btn-filter class="category-item {% if posts.size == 0 %}disabled{% endif %}" data-category="{{ x.query }}" data-query="{{ y.item }}">
			<div class="category-selector">
				<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 6.8 5.2" aria-label="Tick">
					<path d="M6.7.8L2.9 5c-.1.1-.3.2-.4.2-.1 0-.3-.1-.4-.2l-2-2c-.1-.2-.1-.5 0-.7s.5-.2.7 0L2.5 4 6 .2c.2-.2.5-.2.7 0 .2.1.2.4 0 .6z"></path>
				</svg>
			</div>
			<div class="category-title">{{ y.item }}</div>
			<div class="category-count" style="--num: {{ posts.size }};"></div>
		</btn-filter>
		{% endif %}
    {% endfor %}
	</div>
	{% endif %}
{% endfor %}
	<btn-stash>
		<div>Avaliações</div>
		<svg class="btn-stash" viewBox="0 0 10 16" version="1.1" width="14" height="18" aria-hidden="true">
            <path fill-rule="evenodd" d="M5 11L0 6l1.5-1.5L5 8.25 8.5 4.5 10 6l-5 5z"></path>
        </svg>
    </btn-stash>
    <div class="category-items item-scroll">
		{% assign pessimo = "10,11,12,13,14,15,16,17,18,19,20" | split: ',' %}
		{% assign ruim = "21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40" | split: ',' %}
		{% assign aceitavel = "41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60" | split: ',' %}
		{% assign otimo = "61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80" | split: ',' %}
		{% assign execelente = "81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,100" | split: ',' %}
		{% assign rating_a_count = 0 %}
		{% assign rating_b_count = 0 %}
		{% assign rating_c_count = 0 %}
		{% assign rating_d_count = 0 %}
		{% assign rating_e_count = 0 %}
		{% assign rating_f_count = 0 %}
		{% for post in site.posts %}
		{% assign vote_average = post.vote_average | remove: "." %}
		{% if pessimo contains vote_average %}
		{% assign rating_a_count = rating_a_count | plus:1 %}
		{% elsif ruim contains vote_average %}
		{% assign rating_b_count = rating_b_count | plus:1 %}
		{% elsif aceitavel contains vote_average %}
		{% assign rating_c_count = rating_c_count | plus:1 %}
		{% elsif otimo contains vote_average %}
		{% assign rating_d_count = rating_d_count | plus:1 %}
		{% elsif execelente contains vote_average %}
		{% assign rating_e_count = rating_e_count | plus:1 %}
		{% elsif vote_average == "0" %}
		{% assign rating_f_count = rating_f_count | plus:1 %}
		{% endif %}
		{% endfor %}
		<btn-filter class="category-item {% if rating_f_count == 0 %}disabled{% endif %}" data-category="vote_average" data-query="N/A">
			<div class="category-selector">
				<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 6.8 5.2" aria-label="Tick">
					<path d="M6.7.8L2.9 5c-.1.1-.3.2-.4.2-.1 0-.3-.1-.4-.2l-2-2c-.1-.2-.1-.5 0-.7s.5-.2.7 0L2.5 4 6 .2c.2-.2.5-.2.7 0 .2.1.2.4 0 .6z"></path>
				</svg>
			</div>
			<div class="category-title">Nenhum</div>
			<div class="category-count" style="--num: {{ rating_f_count }};"></div>
		</btn-filter>
		<btn-filter class="category-item {% if rating_a_count == 0 %}disabled{% endif %}" data-category="vote_average" data-query="0">
			<div class="category-selector">
				<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 6.8 5.2" aria-label="Tick">
					<path d="M6.7.8L2.9 5c-.1.1-.3.2-.4.2-.1 0-.3-.1-.4-.2l-2-2c-.1-.2-.1-.5 0-.7s.5-.2.7 0L2.5 4 6 .2c.2-.2.5-.2.7 0 .2.1.2.4 0 .6z"></path>
				</svg>
			</div>
			<div class="category-title">Péssimo</div>
			<div class="category-count" style="--num: {{ rating_a_count }};"></div>
		</btn-filter>
		<btn-filter class="category-item {% if rating_b_count == 0 %}disabled{% endif %}" data-category="vote_average" data-query="20">
			<div class="category-selector">
				<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 6.8 5.2" aria-label="Tick">
					<path d="M6.7.8L2.9 5c-.1.1-.3.2-.4.2-.1 0-.3-.1-.4-.2l-2-2c-.1-.2-.1-.5 0-.7s.5-.2.7 0L2.5 4 6 .2c.2-.2.5-.2.7 0 .2.1.2.4 0 .6z"></path>
				</svg>
			</div>
			<div class="category-title">Ruim</div>
			<div class="category-count" style="--num: {{ rating_b_count }};"></div>
		</btn-filter>
	    <btn-filter class="category-item {% if rating_c_count == 0 %}disabled{% endif %}" data-category="vote_average" data-query="40">
			<div class="category-selector">
				<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 6.8 5.2" aria-label="Tick">
					<path d="M6.7.8L2.9 5c-.1.1-.3.2-.4.2-.1 0-.3-.1-.4-.2l-2-2c-.1-.2-.1-.5 0-.7s.5-.2.7 0L2.5 4 6 .2c.2-.2.5-.2.7 0 .2.1.2.4 0 .6z"></path>
				</svg>
			</div>
			<div class="category-title">Aceitável</div>
			<div class="category-count" style="--num: {{ rating_c_count }};"></div>
		</btn-filter>   
		<btn-filter class="category-item {% if rating_d_count == 0 %}disabled{% endif %}" data-category="vote_average" data-query="60">
			<div class="category-selector">
				<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 6.8 5.2" aria-label="Tick">
					<path d="M6.7.8L2.9 5c-.1.1-.3.2-.4.2-.1 0-.3-.1-.4-.2l-2-2c-.1-.2-.1-.5 0-.7s.5-.2.7 0L2.5 4 6 .2c.2-.2.5-.2.7 0 .2.1.2.4 0 .6z"></path>
				</svg>
			</div>
			<div class="category-title">Ótimo</div>
			<div class="category-count" style="--num: {{ rating_d_count }};"></div>
		</btn-filter>
		<btn-filter class="category-item {% if rating_e_count == 0 %}disabled{% endif %}" data-category="vote_average" data-query="80">
			<div class="category-selector">
				<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 6.8 5.2" aria-label="Tick">
					<path d="M6.7.8L2.9 5c-.1.1-.3.2-.4.2-.1 0-.3-.1-.4-.2l-2-2c-.1-.2-.1-.5 0-.7s.5-.2.7 0L2.5 4 6 .2c.2-.2.5-.2.7 0 .2.1.2.4 0 .6z"></path>
				</svg>
			</div>
			<div class="category-title">Excelente</div>
			<div class="category-count" style="--num: {{ rating_e_count }};"></div>
		</btn-filter>
    </div>
    <btn-stash>
		<div>Letras & Números</div>
		<svg class="btn-stash" viewBox="0 0 10 16" version="1.1" width="14" height="18" aria-hidden="true">
            <path fill-rule="evenodd" d="M5 11L0 6l1.5-1.5L5 8.25 8.5 4.5 10 6l-5 5z"></path>
        </svg>
    </btn-stash>
    <div class="category-items item-scroll">
		{% assign numbers = "0,1,2,3,4,5,6,7,8,9" %}
		{% assign numbers = numbers | split:',' %}
		{% assign count = 0 %}
		{% for number in numbers %}
			{% for post in site.posts %}
				{% assign firstnumber = post.title | truncate: 1, '' %}
				{% if firstnumber == number %}
				{% capture count %}
					{{ count | plus:1 }}
				{% endcapture %}
				{% endif %}
			{% endfor %}
		{% endfor %}
	    <btn-filter class="category-item {% if count == 0 %}disabled{% endif %}" data-category="title" data-query="0 à 9">
			<div class="category-selector">
				<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 6.8 5.2" aria-label="Tick">
					<path d="M6.7.8L2.9 5c-.1.1-.3.2-.4.2-.1 0-.3-.1-.4-.2l-2-2c-.1-.2-.1-.5 0-.7s.5-.2.7 0L2.5 4 6 .2c.2-.2.5-.2.7 0 .2.1.2.4 0 .6z"></path>
				</svg>
			</div>
			<div class="category-title">0 à 9</div>
			<div class="category-count" style="--num: {{ count }};"></div>
		</btn-filter>
		{% assign alphabet = "A,B,C,D,E,F,G,H,I,J,K,L,M,N,O,P,Q,R,S,T,U,V,W,X,Y,Z" %}
		{% assign alphabet = alphabet | split:',' %}
		{% for letter in alphabet %}
			{% assign amount = 0 %}
			{% for post in site.posts %}
				{% assign firstletter = post.title | truncate: 1, '' | downcase %}
				{% assign downletter = letter | downcase %}
				{% if downletter == firstletter %}
					{% capture amount %}
						{{ amount | plus:1 }}
					{% endcapture %}
				{% endif %}
			{% endfor %}
			<btn-filter class="category-item {% if amount == 0 %}disabled{% endif %}" data-category="title" data-query="{{ letter }}">
				<div class="category-selector">
					<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 6.8 5.2" aria-label="Tick">
						<path d="M6.7.8L2.9 5c-.1.1-.3.2-.4.2-.1 0-.3-.1-.4-.2l-2-2c-.1-.2-.1-.5 0-.7s.5-.2.7 0L2.5 4 6 .2c.2-.2.5-.2.7 0 .2.1.2.4 0 .6z"></path>
					</svg>
				</div>
				<div class="category-title">{{ letter }}</div>
				<div class="category-count" style="--num: {{ amount }};"></div>
			</btn-filter>
		{% endfor %}
    </div>
</aside>
    <aside-highlights>
    	<aside-highlights-header-tabs>
    		<aside-highlights-header-tab class="selected">Filmes</aside-highlights-header-tab>
    		<aside-highlights-header-tab>Séries</aside-highlights-header-tab>
    	</aside-highlights-header-tabs>
    	<aside-highlights-content-tabs>
    		<aside-highlights-content-tab class="selected">
    			<aside-highlights-items>
    				{% assign posts = site.posts | where: "category", "Filmes" %}
    				{% for post in posts limit: 10 %}
    				<a href="{{ post.url | prepend: site.baseurl }}">
	    				<aside-highlights-item>
	    					<aside-highlights-row>
	    						<aside-highlights-rank></aside-highlights-rank>
	    						<aside-highlights-poster>
	    							<img src="https://image.tmdb.org/t/p/w92{{ post.poster_path }}" alt="{{ post.title }}">
	    						</aside-highlights-poster>
	    					</aside-highlights-row>
	    					<aside-highlights-column>
	    						<aside-highlights-title>{{ post.title }}</aside-highlights-title>
	    						<aside-highlights-row>
	    							<aside-highlights-tmdb>
	    								<div>TMDb:</div>
	    								<div>{{ post.vote_average }}</div>
	    							</aside-highlights-tmdb>
	    							<aside-highlights-runtime>{% if post.runtime <= 60 %}{{ post.runtime }}min{% else %}{{ post.runtime | divided_by: 60 | floor }}h {{ post.runtime | modulo: 60 }}min{% endif %}</aside-highlights-runtime>
	    							<aside-highlights-release-year>{{ post.release_date }}</aside-highlights-release-year>
	    						</aside-highlights-row>
	    					</aside-highlights-column>
	    				</aside-highlights-item>
	    			</a>
    				{% endfor %}
    			</aside-highlights-items>
    		</aside-highlights-content-tab>
    		<aside-highlights-content-tab>
    			<aside-highlights-items>
    				{% assign posts = site.posts | where: "category", "Séries" %}
    				{% for post in posts limit: 10 %}
    				<a href="{{ post.url | prepend: site.baseurl }}">
	    				<aside-highlights-item>
	    					<aside-highlights-row>
	    						<aside-highlights-rank></aside-highlights-rank>
	    						<aside-highlights-poster>
	    							<img src="https://image.tmdb.org/t/p/w92{{ post.poster_path }}" alt="{{ post.title }}">
	    						</aside-highlights-poster>
	    					</aside-highlights-row>
	    					<aside-highlights-column>
	    						<aside-highlights-title>{{ post.title }}</aside-highlights-title>
	    						<aside-highlights-row>
	    							<aside-highlights-tmdb>
	    								<div>TMDb:</div>
	    								<div>{{ post.vote_average }}</div>
	    							</aside-highlights-tmdb>
	    							<aside-highlights-runtime>{% if post.runtime <= 60 %}{{ post.runtime }}min{% else %}{{ post.runtime | divided_by: 60 | floor }}h {{ post.runtime | modulo: 60 }}min{% endif %}</aside-highlights-runtime>
	    							<aside-highlights-release-year>{{ post.release_date }}</aside-highlights-release-year>
	    						</aside-highlights-row>
	    					</aside-highlights-column>
	    				</aside-highlights-item>
    				</a>
    				{% endfor %}
    			</aside-highlights-items>
    		</aside-highlights-content-tab>
    	</aside-highlights-content-tabs>
    </aside-highlights>