<slider-banner>
	<a href="{{ site.baseurl }}/halo">
		<img src="{{ site.baseurl }}/assets/img/banners/halo-banner-768x142.webp" alt="Halo" loading="lazy">
	</a>
	<a href="{{ site.baseurl }}/peacemaker">
		<img src="{{ site.baseurl }}/assets/img/banners/peacemaker-banner-768x142.webp" alt="Peacemaker" loading="lazy">
	</a>
	<a href="{{ site.baseurl }}/severance">
		<img src="{{ site.baseurl }}/assets/img/banners/severance-banner-768x142.webp" alt="Severance" loading="lazy">
	</a>
</slider-banner>