<header-sticky>
	<header>
		<theme-switch class="theme-toggle" tooltipped-label="Light/Dark" data-tooltipped="bottom">
			<svg class="sun-and-moon" aria-hidden="true" width="24" height="24" viewBox="0 0 24 24">
				<mask class="moon" id="moon-mask">
					<rect x="0" y="0" width="100%" height="100%" fill="#fff" />
					<circle cx="24" cy="10" r="6" fill="#000" />
				</mask>
				<circle class="sun" cx="12" cy="12" r="6" mask="url(#moon-mask)" fill="currentColor" />
				<g class="sun-beams" stroke="currentColor">
					<line x1="12" y1="1" x2="12" y2="3" />
					<line x1="12" y1="21" x2="12" y2="23" />
					<line x1="4.22" y1="4.22" x2="5.64" y2="5.64" />
					<line x1="18.36" y1="18.36" x2="19.78" y2="19.78" />
					<line x1="1" y1="12" x2="3" y2="12" />
					<line x1="21" y1="12" x2="23" y2="12" />
					<line x1="4.22" y1="19.78" x2="5.64" y2="18.36" />
					<line x1="18.36" y1="5.64" x2="19.78" y2="4.22" />
				</g>
			</svg>
		</theme-switch>
		<header-logo>
			<a href="{{ site.baseurl }}/">
				<img src="{{ site.baseurl }}/assets/img/logo-theme-light.png"  alt="{{ site.title }}">
			</a>
		</header-logo>
		<live-search>
			<input is="live-search" type="text" placeholder="O que você está procurando hoje?">
			<live-search-results class="item-scroll"></live-search-results>
		</live-search>
		<header-mobile>
			<span></span>
			<span></span>
			<span></span>
		</header-mobile>
		<nav>
			<a href="{{ site.baseurl }}/filmes">Filmes</a>
			<a href="{{ site.baseurl }}/series">Séries</a>
			<a href="{{ site.baseurl }}/musicas" tooltipped-label="Coming soon!" data-tooltipped="bottom">Músicas</a>
			<a href="{{ site.baseurl }}/jogos" tooltipped-label="Coming soon!" data-tooltipped="bottom">Jogos</a>
			<a href="{{ site.baseurl }}/livros" tooltipped-label="Coming soon!" data-tooltipped="bottom">Livros</a>
			<a href="{{ site.baseurl }}/blog" tooltipped-label="Coming soon!" data-tooltipped="bottom">Blog</a>
		</nav>
	</header>
</header-sticky>
{% include noscript.html %}