<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, shrink-to-fit=no">
    <meta name="theme-color" content="#fff"/>
    <link rel="shortcut icon" href="{{ site.baseurl }}/favicon.ico" type="image/x-icon">
    <meta name="robots" content="index, follow" />
    <meta name="googlebot" content="index, follow, max-snippet:-1, max-image-preview:large, max-video-preview:-1" />
    <meta name="bingbot" content="index, follow, max-snippet:-1, max-image-preview:large, max-video-preview:-1" />
    <title>{% if page.tag or page.title %}{% if page.tag %}{{ page.tag | escape }}{% else %}{{ page.title | escape }}{% endif %} – {% endif %}{% if paginator and paginator.page and paginator.total_pages > 1 and paginator.page > 1 %} Página {{ paginator.page }} de {{ paginator.total_pages }} – {% endif %}{{ site.title | escape }}{% unless page.tag or page.title %} – {{ site.description | escape }}{% endunless %}</title>
    {% seo title=false %}
    <link rel="alternate" type="application/atom+xml" title="{{ site.title }}" href="{{ site.baseurl }}/atom.xml" />
    <link rel="alternate" type="application/json" title="{{ site.title }}" href="{{ site.baseurl }}/feed.json" />
    <link rel="sitemap" type="application/xml" title="sitemap" href="{{ site.baseurl }}/sitemap.xml" />
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/style.css" media="all">
    <style>.theme-toggle{display:flex;align-items:center;justify-content:center;width:40px;height:40px;cursor:pointer;touch-action:manipulation;-webkit-tap-highlight-color:transparent;outline-offset:5px}.theme-toggle>svg{stroke-linecap:round}.sun-and-moon>:is(.moon,.sun,.sun-beams){transform-origin:center center}.sun-and-moon>:is(.moon,.sun){fill:var(--icon-fill)}.theme-toggle:is(:hover,:focus-visible)>.sun-and-moon>:is(.moon,.sun){fill:var(--icon-fill-hover)}.sun-and-moon>.sun-beams{stroke:var(--icon-fill);stroke-width:2px}.theme-toggle:is(:hover,:focus-visible) .sun-and-moon>.sun-beams{stroke:var(--icon-fill-hover)}.theme-dark .sun-and-moon>.sun{transform:scale(1.75)}.theme-dark .sun-and-moon>.sun-beams{opacity:0}.theme-dark .sun-and-moon>.moon>circle{transform:translate(-7px)}@media (prefers-reduced-motion:no-preference){.sun-and-moon>.sun{transition:transform 0.5s cubic-bezier(.5,1.25,.75,1.25)}.sun-and-moon>.sun-beams{transition:transform 0.5s cubic-bezier(.5,1.5,.75,1.25),opacity 0.5s cubic-bezier(.25,0,.3,1)}.sun-and-moon .moon>circle{transition:transform 0.25s cubic-bezier(0,0,0,1)}.theme-dark .sun-and-moon>.sun{transform:scale(1.75);transition-timing-function:cubic-bezier(.25,0,.3,1);transition-duration:0.25s}.theme-dark .sun-and-moon>.sun-beams{transform:rotate(-25deg);transition-duration:0.15s}.theme-dark .sun-and-moon>.moon>circle{transition-delay:0.25s;transition-duration:0.5s}}</style>
    {% if page.url != "/" %} 
    <noscript>
        <meta http-equiv="refresh" content="0; url={{ site.url }}" />
    </noscript>
    {% endif %}
    <script>
        toggleClass = (scheme, event = false) => {
            document.body.removeAttribute("class");
            document.body.classList.add(scheme);
            document.querySelector("header-logo a img").src = "/assets/img/logo-"+scheme+".png";
            if (event) { localStorage.setItem("theme-preference", scheme) }
        };
        customElements.define("theme-switch", class extends HTMLElement {
            constructor() {
                super();
                this.addEventListener("click", e => {
                    const scheme = (document.body.classList.contains("theme-light")) ? "theme-dark" : "theme-light";
                    toggleClass(scheme, true);
                });
            }
        });
        document.addEventListener("DOMContentLoaded", function() {
            toggleClass((localStorage.getItem("theme-preference") == null) ? "theme-light" : localStorage.getItem("theme-preference"));
        });
    </script>
</head>