html {
    overflow-x: hidden;
    text-rendering: optimizeLegibility;
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    text-size-adjust: 100%;
}

html, body {
    color: var(--color);
    background: var(--background);
    font: normal 400 14px/1.5 -apple-system,BlinkMacSystemFont,"Segoe UI","Liberation Sans",sans-serif;
    cursor: default;
}

*,
::after,
::before {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

::-moz-focus-inner {
    border: 0;
}

::-webkit-input-placeholder {
   color: #777;
}

:-moz-placeholder {
   color: #777; 
}

::-moz-placeholder {
   color: #777; 
}

:-ms-input-placeholder {  
   color: #777;
}

[hidden],
.hidden {
    display: none!important;
}

button {
    all: unset;
}

a {
    text-decoration: none;
    color: inherit;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}

a:focus {
    outline: 0;
}

a:not([href]):not([tabindex]) {
    color: inherit;
    text-decoration: none;
}

a:not([href]):not([tabindex]):focus, a:not([href]):not([tabindex]):hover {
    color: inherit;
    text-decoration: none;
}

a:not([href]):not([tabindex]):focus {
    outline: 0;
}

img {
    vertical-align: middle;
    border-style: none;
    pointer-events: none;
}

svg:not(:root) {
    overflow: hidden;
}

.row {
    display: flex;
    flex-direction: row;
}

.column {
    display: flex;
    flex-direction: column;
}

/* Post page */
.post-main {
    position: relative;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 5rem;
    box-shadow: var(--box-shadow);
    background: var(--background);
    border-radius: 4px;
}

.post-main-header {
    position: relative;
}

.post-main-author {
    position: absolute;
    width: 120px;
    height: 100%;
    left: -140px;
}

.post-main-content {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    padding: 1.5rem;
    gap: 1.5rem;
}

.post-main-download {
    padding: 1.5rem;
}

/* Autor */
.post-main-author .author {
    position: sticky;
    top: 1.5rem;
    width: 120px;
    min-width: 120px;
    height: min-content;
    height: fit-content;
    min-height: 225px;
    border-radius: 4px;
    padding: 10px;
}

.post-main-author .author {
    background: var(--background);
    box-shadow: var(--box-shadow);
}

.post-main-author .author:after,
.post-main-author .author:before {
    left: 100%;
    top: 30%;
    border: solid transparent;
    content: "";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.post-main-author .author:after {
    border-color: transparent;
    border-left-color: var(--background);
    border-width: 10px;
    margin-top: -10px;
}

.post-main-author .author:before {
    border-color: transparent;
    border-left-color: var(--border);
    border-width: 12px;
    margin-top: -12px;
}

.post-main-author .author .author-image .author-letter {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    border-radius: 3px;
    font-size: 4rem;
    box-shadow: inset 0 0 1rem rgb(0 0 0 / 10%);
    user-select: none;
}

.post-main-author .author .author-image .author-avatar img {
    border-radius: 3px;
    user-select: none;
    pointer-events: none;
}

.post-main-author .author .author-letter {
    color: #eee;
}

.post-main-author .author .author-name {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    margin-top: 8px;
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #df2fff;
    font-weight: 500;
    background-image: linear-gradient(90deg,#f10 0%,#00ff0a 100%,#fff);
    animation: royal 5s infinite linear;
    user-select: none;
}

@keyframes royal {
    from {
        filter: hue-rotate(-360deg)
    }
    to {
        filter: hue-rotate(360deg)
    }
}

.post-main-author .author .author-infor {
    font-size: 12px;
}

.post-main-author .author .author-infor div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.post-main-author .author .author-role {
    position: relative;
    user-select: none;
    padding: 5px 10px;
    margin-top: 10px;
    margin-left: -15px;
    margin-right: -15px;
    border-radius: 2px;
    font-size: 13px;
    text-align: center;
    color: #FFF;
    text-transform: capitalize;
}

.post-main-author .author .author-role::before {
    content: '';
    position: absolute;
    width: 5px;
    height: 4px;
    top: -3px;
    left: 0;
    border-top-left-radius: 4px;
    background: inherit;
}

.post-main-author .author .author-role::after {
    content: '';
    position: absolute;
    width: 5px;
    height: 4px;
    top: -3px;
    right: 0;
    border-top-right-radius: 4px;
    background: inherit;
}

.post-main-author .author .author-role.administrador {
    background-color: #E53935;
    box-shadow: 0px 3px 3px 0px #fe8b774d;
}
.post-main-author .author .author-role.editor {
    background-color: #2196F3;
    box-shadow: 0px 3px 3px 0px #0063eb4d;
}
.post-main-author .author .author-role.autor {
    background-color: #8BC34A;
    box-shadow: 0px 3px 3px 0px #8bc34a63
}

.post-main-author .author .author-role.contribuinte {
    background-color: #212121;
    box-shadow: 0px 3px 3px 0px #2121214d;
}

.post-main-author .author .author-role.premium {
    background-color: #FFCA28;
    box-shadow: 0px 3px 3px 0px #ffca284d;
}

.post-main-author .author .author-role.assinante {
    background-color: #BDBDBD;
    box-shadow: 0px 3px 3px 0px #BDBDBD61;
}

/* content */
.post-main-content .poster {
    position: relative;
    width: 185px;
    height: 277px;
    border-radius: 3px;
    background-color: var(--background);
}

.post-main-content .poster img {
    width: 185px;
    height: 277px;
    border-radius: 3px;
}

.article-summary {
    display: grid;
    gap: 1rem;
}
.article-summary .column {
    gap: 0.125rem;
}

.article-summary .title {
    font-size: 1.75rem;
    font-weight: 500;
    padding-bottom: 0;
}

.article-summary .synopsis {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}

.article-summary .synopsis:hover {
    overflow: overlay;
}

.article-summary .crew,
.article-summary .cast,
.article-summary .genre,
.article-summary .runtime {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-gap: .5rem;
}

.article-summary .crew div:first-child,
.article-summary .cast div:first-child,
.article-summary .genre div:first-child,
.article-summary .runtime div:first-child {
    font-weight: 500;
}

/* API */
.post-main-donation {
    display: flex;
    flex-direction: column;
    padding: 1.5rem 0;
    border-top: 1px solid;
    border-bottom: 1px solid;
    background: var(--donation-background-light);
    border-color: var(--border);
}

.donation-ribbon {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(100% + 20px);
    height: 40px;
    margin-left: -10px;
    margin-right: -10px;
    color: var(--donation-color);
    background: var(--donation-background);
    box-shadow: inset 0 0 20px 1px #fdf0c8;
    font-weight: 600;
    font-size: 1.25rem;
}

.donation-ribbon:before,
.donation-ribbon:after {
    content: "";
    position: absolute;
}

.donation-ribbon:before {
    height: 0;
    width: 0;
    bottom: -10px;
    left: 0;
    border-top: 10px solid var(--donation-border);
    border-left: 10px solid transparent;
}

.donation-ribbon:after {
    height: 0;
    width: 0;
    right: 0;
    bottom: -10px;
    border-top: 10px solid var(--donation-border);
    border-right: 10px solid transparent;
}

.donation-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem 1rem 0 1rem;
    gap: 1rem;
    color: var(--donation-color);
    font-weight: 300;
}

.donation-text > div {
    text-align: center;
}

.donation-text ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0.5rem;
    margin-left: 1.75rem;
}

.donation-text ul li {
    color: var(--donation-color-list);
    padding-left: .5rem;
}

.donation-text ul li::marker {
    content: '\2713';
    content: '✓';
    font-weight: 600;
}

/* Download content */
.download-content {
    border: 1px solid var(--border);
    border-bottom: 0;
    border-radius: 3px;
}

.download-content .show {
    background: var(--active);
}

.season-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    border-bottom: 1px solid var(--border);
    cursor: pointer;
}

.season-content:first-child {
    border-top: 0;
}

.season-content:last-child {
    border-bottom: 0;
}

.season-title {
    font-weight: 500;
    text-transform: uppercase;
}

.season-status {
    padding: 0 0.5rem;
    border-radius: 3px;
    text-transform: uppercase;
}

.episode-title {
    padding: .5rem 2rem;
    cursor: pointer;
}

.episode-main-menu {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    place-items: center;
    padding: .5rem;
    font-size: .875rem;
}

.episode-content {
    display: none;
}

.episode-content.active {
    display: grid;
}

.episode-content > div {
    border-bottom: 1px solid var(--border);
}

.episode-content:last-child > div:nth-last-child(2) {
    border-bottom: 0;
}

.episode-content.active:last-child .episode-title {
    border-bottom: 1px solid var(--border);
}

.episode-content-options {
    display: none;
}

.episode-content-options.active {
    display: grid;
}

.episode-content-options div.active:last-child {
    border-bottom: 0;
}

.episode-content-options.active > div {
    border-top: 1px solid var(--border);
}

.episode-content-options.active > div:first-child {
    border-top: 0;
}

.episode-content:last-child .episode-content-options.active {
    border-top: 0;
}

.episode-content-options a {
    display: grid;
    grid-template-columns: auto auto;
    place-content: center;
    text-decoration: none;
    font-size: .875rem;
    border: 1px solid var(--border);
    border-radius: 3px;
}

.episode-content-options a:hover {
    background: var(--hover);
}

.episode-content-options a span {
    display: grid;
    place-items: center;
    padding: .25rem .5rem;
}

.episode-content-options a span:last-child {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.episode-main-download {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    place-items: center;
    padding: .5rem;
}

.episode-main-download span:last-child {
    cursor: pointer;
}

.episode-content-download {
    display: none;
    grid-template-columns: repeat(auto-fit, minmax(20%, 1fr));
    grid-gap: .5rem;
    padding: .5rem;
    word-wrap: break-word;
    word-break: break-all;
}

.episode-content-download.active {
    display: grid;
    box-shadow: inset 0px 0px 10px 0px rgb(100 100 100 / 10%);
}

/*** Tooltipped ***/
[aria-label][data-tooltipped] {
    position: relative;
    cursor: help;
}

[aria-label][data-tooltipped]:before {
    width: 0;
    height: 0;
    border: 5px solid transparent;
    border-top-color: rgba(16, 16, 16, 0.95);
    opacity: 0;
    pointer-events: none;
    transition: all 0.18s ease-out 0.18s;
    content: "";
    position: absolute;
    z-index: 10;
}

[aria-label][data-tooltipped]:after {
    opacity: 0;
    pointer-events: none;
    transition: all 0.18s ease-out 0.18s;
    text-indent: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-weight: normal;
    font-style: normal;
    text-shadow: none;
    font-size: 12px;
    background: rgba(16, 16, 16, 0.95);
    border-radius: 2px;
    color: #fff;
    border-radius: 2px;
    content: attr(aria-label);
    padding: .5rem .75rem;
    position: absolute;
    white-space: nowrap;
    z-index: 10;
}

[aria-label][data-tooltipped]:hover:before,
[aria-label][data-tooltipped]:hover:after {
    opacity: 1;
    pointer-events: none;
}

[aria-label][data-tooltipped][data-tooltipped^="top-left"]:before {
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
}

[aria-label][data-tooltipped][data-tooltipped^="top-left"]:after {
    margin-bottom: 10px;
    margin-left: -20px;
    bottom: 100%;
    left: 50%;
}

[aria-label][data-tooltipped][data-tooltipped^="top-right"]:before {
    bottom: 100%;
    right: 50%;
    margin-right: -5px;
}

[aria-label][data-tooltipped][data-tooltipped^="top-right"]:after {
    margin-bottom: 10px;
    margin-right: -20px;
    bottom: 100%;
    right: 50%;
}

[aria-label][data-tooltipped][data-tooltipped^="top"]:before {
    bottom: 100%;
    right: 50%;
    margin-right: -5px;
}

[aria-label][data-tooltipped][data-tooltipped^="top"]:after {
    margin-bottom: 10px;
    bottom: 100%;
}

[aria-label][data-tooltipped][data-tooltipped^="bottom"]:before {
    top: 100%;
    right: 50%;
    margin-right: -5px;
    transform: rotateX(180deg);
}

[aria-label][data-tooltipped][data-tooltipped^="bottom"]:after {
    margin-top: 10px;
    top: 100%;
}