body.theme-light {
    color-scheme: light;
    --color: #000;
    --background: #fff;
    --sub-background: #fff;
    --search-background: #fcfcfc;
    --border-color: #efefef;
    --box-shadow: none;
    --icon-fill: #454d54;
    --icon-fill-hover: #22262a;
    --lazyload-1: #f9fafa;
    --lazyload-2: #e5e6e7;
    --hover: #f3f3f3;
    --active: #f3f3f3;
    --white: #fff;
    --black: #000;
    --scrollbar-thumb-color: #bdbdbd;
    --scrollbar-track-color: #ececec;
    --color-inverted: #fff;
    --color-bg-inverted: #111212;
}
body.theme-dark {
    color-scheme: dark;
    --color: #fff;
    --background: #252b31;
    --sub-background: #2d333b;
    --search-background: #3d444b;
    --border-color: #373e47;
    --box-shadow: 0 0 10px rgb(0 0 0 / 25%);
    --icon-fill: #abb3ba;
    --icon-fill-hover: #e2e6e9;
    --lazyload-1: #2f3234;
    --lazyload-2: #2a2b2c;
    --hover: #2a2e39;
    --active: #131722;
    --white: #fff;
    --black: #000;
    --scrollbar-thumb-color: #bdbdbd;
    --scrollbar-track-color: #252b31;
    --color-inverted: #000;
    --color-bg-inverted: #fff;
}
*,
::before,
::after {
    margin: 0;
    padding: 0;
    outline: 0;
    border-width: 0;
    border-style: solid;
    border-color: var(--border-color);
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
html {
    color-scheme: light;
    overflow-x: hidden;
    text-rendering: optimizeLegibility;
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    text-size-adjust: 100%;
}
html,
body {
    margin: 0;
    font-family: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
    color: var(--color);
    background: var(--background);
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
    cursor: default;
}
blockquote, dl, dd, h1, h2, h3, h4, h5, h6, hr, figure, p, pre {
    margin: 0;
}
h1, h2, h3, h4, h5, h6 {
    font-size: inherit;
    font-weight: inherit;
}
ol, ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
img, svg, video, canvas, audio, iframe, embed, object {
    display: block;
    vertical-align: middle;
    border-style: none;
    pointer-events: none;
}
svg:not(:root) {
    overflow: hidden;
}
button {
    all: unset;
}
a {
    color: inherit;
    background-color: transparent;
    text-decoration: none;
    -webkit-text-decoration-skip: objects;
}
a:focus {
    outline: 0;
}
a:not([href]):not([tabindex]) {
    color: inherit;
    text-decoration: none;
}
a:not([href]):not([tabindex]):focus, a:not([href]):not([tabindex]):hover {
    color: inherit;
    text-decoration: none;
}
a:not([href]):not([tabindex]):focus {
    outline: 0;
}
[hidden],
.hidden,
.none {
    display: none!important;
}
::-moz-focus-inner {
    border: 0;
}
::-webkit-input-placeholder {
   color: var(--color);
}
:-moz-placeholder {
   color: var(--color); 
}
::-moz-placeholder {
   color: var(--color); 
}
:-ms-input-placeholder {  
   color: var(--color);
}
.item-scroll:hover {
    overflow: overlay;
}
.item-scroll::-webkit-scrollbar {
   width: 5px;
   height: 5px;
}
.item-scroll::-webkit-scrollbar-thumb {
   background: var(--scrollbar-thumb-color);
   border-radius: 3px;
}
.item-scroll::-webkit-scrollbar-thumb:hover {
   background: var(--scrollbar-thumb-color);
}
.item-scroll::-webkit-scrollbar-track{
   background: var(--scrollbar-track-color);
   border-radius: 3px;
}
.item-comma > a,
.item-comma > span,
.item-comma > div {
    text-decoration: none;
}
.item-comma > a:not(:last-child)::after,
.item-comma > span:not(:last-child)::after,
.item-comma > div:not(:last-child)::after {
    content: ", ";
}
.item-comma {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}
[tooltipped-label][data-tooltipped] {
    position: relative;
}
[tooltipped-label][data-tooltipped]:before {
    width: 0;
    height: 0;
    border: 5px solid transparent;
    border-top-color: var(--color-bg-inverted);
    opacity: 0;
    pointer-events: none;
    transition: all 0.18s ease-out 0.18s;
    content: "";
    position: absolute;
    z-index: 10;
}
[tooltipped-label][data-tooltipped]:after {
    opacity: 0;
    pointer-events: none;
    transition: all 0.18s ease-out 0.18s;
    text-indent: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-weight: normal;
    font-style: normal;
    text-shadow: none;
    font-size: 12px;
    background: var(--color-bg-inverted);
    border-radius: 2px;
    color: var(--color-inverted);
    border-radius: 2px;
    content: attr(tooltipped-label);
    padding: .5rem .75rem;
    position: absolute;
    white-space: nowrap;
    z-index: 10;
}
[tooltipped-label][data-tooltipped]:hover:before,
[tooltipped-label][data-tooltipped]:hover:after {
    opacity: 1;
    pointer-events: none;
}
[tooltipped-label][data-tooltipped][data-tooltipped^="top-left"]:before {
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
}
[tooltipped-label][data-tooltipped][data-tooltipped^="top-left"]:after {
    margin-bottom: 10px;
    margin-left: -20px;
    bottom: 100%;
    left: 50%;
}
[tooltipped-label][data-tooltipped][data-tooltipped^="top-right"]:before {
    bottom: 100%;
    right: 50%;
    margin-right: -5px;
}
[tooltipped-label][data-tooltipped][data-tooltipped^="top-right"]:after {
    margin-bottom: 10px;
    margin-right: -20px;
    bottom: 100%;
    right: 50%;
}
[tooltipped-label][data-tooltipped][data-tooltipped^="top"]:before {
    bottom: 100%;
    right: 50%;
    margin-right: -5px;
}
[tooltipped-label][data-tooltipped][data-tooltipped^="top"]:after {
    margin-bottom: 10px;
    bottom: 100%;
}
[tooltipped-label][data-tooltipped][data-tooltipped^="bottom"]:before {
    top: 100%;
    right: 50%;
    margin-right: -5px;
    transform: rotateX(180deg);
}
[tooltipped-label][data-tooltipped][data-tooltipped^="bottom"]:after {
    margin-top: 10px;
    top: 100%;
}
header-sticky {
    position: sticky;
    top: 0px;
    z-index: 99;
    display: flex;
    width: 100%;
    padding: .5rem 0;
    justify-content: center;
    background: var(--background);
    border-bottom: 1px solid var(--border-color);
    margin-bottom: 2rem;
}
header-observe {
    display: none;
}
header {
    display: flex;
    width: 100%;
    max-width: 1100px;
    justify-content: flex-start;
    gap: 1rem;
}
header-logo,
header-logo a img {
    width: 140px;
    height: 40px;
}
live-search {
    position: relative;
    width: 100%;
    max-width: 500px;
}
input[is="live-search"] {
    width: 100%;
    height: 40px;
    color: var(--color);
    background: var(--search-background);
    border-bottom: 0;
    border-radius: 5px;
    padding: 0.5rem 1.5rem;
    box-shadow: 0 0 transparent, 0 0 transparent, 0 1px 3px 0 rgb(0 0 0 / 10%), 0 1px 2px 0 rgb(0 0 0 / 6%);
}
input[is="live-search"].active {
    border-bottom-left-radius: 0!important;
    border-bottom-right-radius: 0!important;
}
live-search-results {
    position: absolute;
    top: 40px;
    z-index: 99;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-height: 246px;
    overflow-y: auto;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    background: var(--search-background);
    box-shadow: 0 2px 5px 0px rgb(64 60 67 / 16%);
}
live-search-results.disabled {
    display: none;
}
live-search-results a {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 0.5rem;
    gap: 0.75rem;
}
live-search-results a:hover {
    background: var(--hover);
    cursor: pointer;
}
live-search-result-poster {
    position: relative;
}
live-search-result-poster img {
    width: 45px;
    height: 68px;
    border-radius: 2px 2px 4px 4px;
}
live-search-category {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    bottom: 0;
    text-transform: uppercase;
    color: #eabb00;
    background-color: #ffea94;
    font-size: 10px;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}
live-search-result-summary {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
live-search-result-title {
    font-size: 14px;
    font-weight: 500;
}
live-search-result-synopsis {
    font-size: 12px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
live-search-result-empty {
    font-size: 13px;
    padding: 0.5rem;
    text-align: center;
}
header-mobile {
    display: none;
    place-items: center;
    min-height: 30px;
    user-select: none;
    cursor: pointer;
}
header-mobile span {
    width: 30px;
    height: 4px;
    background: var(--color);
    transform-origin: center;
    transition-duration: 86ms;
    transition-property: background-color, opacity, transform;
    transition-timing-function: ease-out;
}
header-mobile.active span:nth-child(1) {
    transform: translateY(10px) rotate(45deg);
}
header-mobile.active span:nth-child(2) {
    opacity: 0;
}
header-mobile.active span:nth-child(3) {
    transform: translateY(-10px) rotate(-45deg);
}
nav {
    display: flex;
    gap: 0.25rem;
}
nav.active {
    display: flex;
}
nav a {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    padding: 0 0.875rem;
    border-radius: 0.25rem;
    color: var(--link-color);
    transition: background .5s ease-in;
    cursor: pointer;
}
nav a:active,
nav a:focus,
nav a:hover {
    background: var(--link-background);
    transition: background .2s ease-in;
}
nav a:nth-child(1) {
    --link-color:#ad3;
    --link-background:rgba(170,221,51,.1);
}
nav a:nth-child(2) {
    --link-color:#f43;
    --link-background:rgba(255,68,51,.1);
}
nav a:nth-child(3) {
    --link-color:#b760f0;
    --link-background:rgba(183,96,240,.1);
}
nav a:nth-child(4) {
    --link-color:#e73;
    --link-background:rgba(238,119,51,.1);
}
nav a:nth-child(5) {
    --link-color:#d55;
    --link-background:rgba(221,85,85,.1);
}
nav a:nth-child(6) {
    --link-color:#fb3;
    --link-background:rgba(255,187,51,.1);
}
nav a:nth-child(7) {
    --link-color:#49f;
    --link-background:rgba(68,153,255,.1);
}
main {
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 1100px;
    margin: auto;
    gap: 2rem;
}
.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 768px;
    min-height: 100vh;
    gap: 2rem;
}
.nav-items {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-width: 300px;
    max-width: 320px;
    height: 100%;
}
.nav-items > btn-stash:first-child {
    display: none;
}
.nav-item-stash {
    display: none;
}
.nav-item-stash.active {
    display: block;
}
article {
    position: relative;
    display: flex;
    flex-direction: revert;
    width: 100%;
    gap: 1.5rem;
}
article:nth-of-type(even) {
    display: flex;
    flex-direction: row-reverse;
}
article-author {
    position: sticky;
    display: flex;
    flex-direction: column;
    top: 75px;
    width: 122px;
    min-width: 122px;
    height: min-content;
    height: fit-content;
    min-height: 225px;
    border: 1px solid var(--border-color);
    background: var(--sub-background);
    box-shadow: var(--box-shadow);
    border-radius: 4px;
    padding: 0.75rem;
}
article-author .author-avatar {
    width: 100px;
    height: 100px;
}
article-author .author-avatar img {
    width: 100%;
    height: 100%;
    border-radius: 3px;
}
article-author .author-name {
    text-align: center;
    font-size: 14px;
    margin-top: 5px;
    font-weight: 600;
}
article-author .author-role {
    position: relative;
    user-select: none;
    padding: 5px 10px;
    margin: 5px -16px;
    border-radius: 2px;
    font-size: 13px;
    text-align: center;
    color: var(--white);
    text-transform: capitalize;
}
article-author .author-role::before {
    content: '';
    position: absolute;
    width: 5px;
    height: 4px;
    top: -3px;
    left: 0;
    border-top-left-radius: 4px;
    background: inherit;
}
article-author .author-role::after {
    content: '';
    position: absolute;
    width: 5px;
    height: 4px;
    top: -3px;
    right: 0;
    border-top-right-radius: 4px;
    background: inherit;
}
article-author .author-role.role-5 {
    background-color: #E53935;
}
article-author .author-role.role-4 {
    background-color: #212121;
}
article-author .author-role.role-3 {
    background-color: #2196F3;
}
article-author .author-role.role-2 {
    background-color: #8BC34A;
}
article-author .author-role.role-1 {
    background-color: #FFCA28;
}
article-author .author-role.role-0 {
    background-color: #BDBDBD;
}
article-author .author-infor div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
}
article-author .author-infor-count {
    animation: counter 1.5s ease-in-out;
    counter-reset: num var(--num);
}
article-author .author-infor-count::before {
    content: counter(num);
}
article:nth-of-type(odd) article-author:after,
article:nth-of-type(odd) article-author:before {
    left: 100%;
    top: 30%;
    border: solid transparent;
    content: "";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}
article:nth-of-type(odd) article-author:after {
    border-color: transparent;
    border-left-color: var(--sub-background);
    border-width: 10px;
    margin-top: -10px;
}
article:nth-of-type(odd) article-author:before {
    border-color: transparent;
    border-left-color: var(--border-color);
    border-width: 12px;
    margin-top: -12px;
}
article:nth-of-type(even) article-author:after,
article:nth-of-type(even) article-author:before {
    right: 100%;
    top: 30%;
    border: solid transparent;
    content: "";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}
article:nth-of-type(even) article-author:after {
    border-color: transparent;
    border-right-color: var(--sub-background);
    border-width: 10px;
    margin-top: -10px;
}
article:nth-of-type(even) article-author:before {
    border-color: transparent;
    border-right-color: var(--border-color);
    border-width: 12px;
    margin-top: -12px;
}
.summary {
    display: flex;
    flex-direction: column; 
    background-color: var(--sub-background);
    border: 1px solid var(--border-color);
    border-radius: .25rem;
}
.summary-content {
    display: flex;
    width: 100%;
    height: 100%;
    padding: 1rem;
    gap: 1rem;
}
.summary-header,
.summary-footer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: .875rem 1rem;
}
.summary-header {
    border-bottom: 1px solid var(--border-color);
}
.summary-footer {
    border-top: 1px solid var(--border-color);
}
.summary-footer > div {
    display: flex;
    gap: 0.5rem;
}
.summary-footer > div > div:first-child {
    font-weight: 600;
}
.summary-poster {
    background-color: var(--background);
}
.summary-poster,
.summary-poster img {
    width: 154px;
    height: 231px;
    border-radius: .25rem;
}
.summary-summary {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.summary-column {
    display: flex;
    flex-direction: column;
}
.summary-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.summary-title {
    font-size: 1.25rem;
    font-weight: 600;
    padding-bottom: .25rem;
}
.summary-synopsis {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    padding-bottom: .25rem;
}
.summary-crew,
.summary-cast,
.summary-genre,
.summary-runtime {
    display: flex;
    width: 100%;
    gap: .25rem;
}
.summary-crew > div:first-child,
.summary-cast > div:first-child,
.summary-genre > div:first-child,
.summary-runtime > div:first-child {
    font-weight: 600;
}
.parental-rating {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 42px;
    height: 42px;
    font-size: 1.3rem;
    font-weight: 500;
    border-radius: 3px;
    user-select: none;
}
.parental-rating a {
    color: #fff;
}
.bg-cert-L {
    background-color: #00a651;
}
.bg-cert-10 {
    background-color: #0094da;
}
.bg-cert-12 {
    background-color: #ffca05;
}
.bg-cert-14 {
    background-color: #f5821f;
}
.bg-cert-16 {
    background-color: #eb1d1b;
}
.bg-cert-18 {
    background-color: #000000;
}
@-webkit-keyframes progress {
    0% {
        stroke-dasharray: 0 100;
    }
}
@keyframes progress {
    0% {
        stroke-dasharray: 0 100;
    }
}
.summary-rating {
    display: grid;
    place-items: center start;
    max-height: 42px;
}
.summary-rating svg,
.summary-rating a {
    color: var(--rating-color);
    stroke: var(--rating-color);
    fill: var(--rating-color);
}
.summary-average {
    display: grid;
    grid-row: 1 / span 2;
    width: 3rem;
    height: 3rem;
    margin-right: 0.5rem;
    user-select: none;
}
.summary-rating-text {
    display: grid;
    grid-row: 2 / span 1;
    font-size: .875rem;
}
.summary-average svg path:nth-child(2) {
    -webkit-animation: progress 1s ease-out forwards;
    animation: progress 1s ease-out forwards;
}
.summary-average svg text {
    font-size: 1.2rem;
    letter-spacing: -0.0625rem;
    font-weight: 500;
}
filter-status,
filter-reset {
    border-radius: 3px;
    text-align: center;
    text-transform: uppercase;
    padding: 1rem;
}
filter-status {
    width: 100%;
    color: rgb(30 142 62);
    background-color: rgb(30 142 62 / 15%);
}
filter-status.empty {
    color: rgb(255 202 5);
    background-color: rgb(255 202 5 / 15%);
}
filter-reset {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 20%;
    color: #ff3722;
    background-color: #ff37221a;
    gap: .25rem;
    cursor: pointer;
}
filter-reset.selected {
    filter: grayscale(1);
    pointer-events: none;
}
filter-sort {
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    width: 100%;
    background: var(--hover);
    font-size: 13px;
    min-height: 40px;
    border-radius: 3px;
    cursor: pointer;
}
filter-sort.selected,
filter-sort:hover {
    color: #4caf50;
    background-color: rgb(76 175 80 / 20%);
}
filter-sort.selected {
    pointer-events: none;
}
.filter-results-items {
    display: none;
    gap: 1rem;
    width: 100%;
}
.filter-results-items.active {
    display: flex;
}
.filter-results {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}
btn-stash {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    font-weight: 600;
    cursor: pointer;
}
btn-stash .btn-stash {
    fill: var(--color);
    transform: scaleY(1);
    transition: transform .2s linear;
}
btn-stash.active .btn-stash {
    transform: scaleY(-1);
}
.category-items {
    display: none;
    flex-direction: column;
    padding: 0 1rem;
    gap: 0.5rem;
    max-height: 215px;
    overflow: hidden;
}
.category-items.active {
    display: flex;
}
.category-sort {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: var(--border-color);
    min-height: 40px;
    padding: 0 1rem;
    border: 1px solid var(--border-color);
    border-radius: 3px;
}
.category-sort option {
    border: 1px solid var(--border-color);
}
.category-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    cursor: pointer;
    user-select: none;
}
.category-item.disabled {
    pointer-events: none;
    filter: contrast(0.5) opacity(0.3);
}
.category-title {
    width: 100%;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Fira Sans,Helvetica Neue,Arial,sans-serif;
    font-size: 12px;
    font-weight: 700;
}
@property --num {
    initial-value: 0;
    inherits: false;
    syntax: "<integer>";
}
@keyframes counter {
    from {
        --num: 0;
    }
}
.category-count {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Montserrat,-apple-system,BlinkMacSystemFont,Segoe UI,Fira Sans,Helvetica Neue,Arial,sans-serif;
    font-size: 11px;
    font-weight: 700;
    background: var(--border-color);
    border-radius: 2px;
    padding: 0 4px;
    animation: counter 1s ease-in-out;
    counter-reset: num var(--num);
}
.category-count::before {
    content: counter(num, decimal-leading-zero);
    content: counter(num);
}
.category-selector {
    display: flex;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    border: 2px solid var(--border-color);
    border-radius: 6px;
    height: 24px;
    width: 24px;
}
.category-item .category-selector svg {
    fill: currentColor;
    color: transparent;
    height: 12px;
}
.category-item.selected .category-selector svg {
    color: #4caf50;
}
aside-highlights {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-width: 300px;
    max-width: 320px;
    padding: 1rem;
}
aside-highlights-header-tabs {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    padding-bottom: 1rem;
}
aside-highlights-header-tab {
    position: relative;
    width: 100%;
    padding: 1rem;
    text-align: center;
    border-radius: 3px;
}
aside-highlights-header-tab.selected,
aside-highlights-header-tab:hover {
    background: var(--hover);
}
aside-highlights-content-tab {
    display: none;
}
aside-highlights-content-tab.selected {
    display: flex;
}
aside-highlights-items {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 100%;
}
aside-highlights-item {
    display: flex;
    width: 100%;
    gap: .75rem;
    cursor: pointer;
}
aside-highlights-item > aside-highlights-column {
    justify-content: center;
    width: 100%;
}
aside-highlights-row {
    display: flex;
    flex-direction: row;
}
aside-highlights-column {
    display: flex;
    flex-direction: column;
}
aside-highlights-poster {
    position: relative;
    width: 48px;
    height: 48px;
    overflow: hidden;
    border-radius: 3px;
}
aside-highlights-item:hover aside-highlights-poster img {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
}
aside-highlights-poster img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%!important;
    border-radius: 0.2rem;
    -o-object-fit: cover;
    object-fit: cover;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}
aside-highlights-items a {
    counter-increment: count;
}
aside-highlights-items a aside-highlights-rank:before {
    content: counter(count, upper-roman);
    font-weight: 600;
}
aside-highlights-rank {
    display: flex;
    width: 30px;
    height: 48px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    background: var(--hover);
    align-items: center;
    justify-content: center;
}
aside-highlights-title {
    font-weight: 600;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}
aside-highlights-title + aside-highlights-row {
    font-size: 13px;
    gap: .5rem;
}
aside-highlights-tmdb {
    display: flex;
    gap: .5rem;
}
aside-highlights-tmdb > div:first-child {
    font-weight: 600;
    background: -webkit-linear-gradient(left,#90cea1, #3cbec9,#00b3e5);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
aside-highlights-item {
    border-radius: 3px;
}
aside-highlights-item:hover {
    background: linear-gradient(90deg, rgba(41,42,47,0) 30%, var(--highlight-background)), var(--background);
}
aside-highlights-item:hover aside-highlights-rank {
    color: var(--highlight-color);
    background: var(--highlight-background);
}
aside-highlights-items a:nth-child(1) {
    --highlight-color: #ff0000;
    --highlight-background: rgb(255 0 0 / .1);
}
aside-highlights-items a:nth-child(2) {
    --highlight-color: #ffff00;
    --highlight-background: rgb(255 127 0 / .1);
}
aside-highlights-items a:nth-child(3) {
    --highlight-color: #ff7f00;
    --highlight-background: rgb(255 255 0 / .1);
}
aside-highlights-items a:nth-child(4) {
    --highlight-color: #7fff00;
    --highlight-background: rgb(127 255 0 / .1);
}
aside-highlights-items a:nth-child(5) {
    --highlight-color: #00ff00;
    --highlight-background: rgb(0 255 0 / .1);
}
aside-highlights-items a:nth-child(6) {
    --highlight-color: #00ff7f;
    --highlight-background: rgb(0 255 127 / .1);
}
aside-highlights-items a:nth-child(7) {
    --highlight-color: #00ffff;
    --highlight-background: rgb(0 255 255 / .1);
}
aside-highlights-items a:nth-child(8) {
    --highlight-color: #007fff;
    --highlight-background: rgb(0 127 255 / .1);
}
aside-highlights-items a:nth-child(9) {
    --highlight-color: #0000ff;
    --highlight-background: rgb(0 0 255 / .1);
}
aside-highlights-items a:nth-child(10) {
    --highlight-color: #7f00ff;
    --highlight-background: rgb(127 0 255 / .1);
}
slider-banner {
    position: relative;
    width: 100%;
    height: 142px;
    background: var(--sub-background);
    border-radius: .25rem;
}
slider-banner img {
    width: 100%;
    max-width: 768px;
    border-radius: 3px;
}
slider-banner a {
    position: absolute;
    top:0;
    left:0;
    opacity: 0;
    z-index: 0;
    -webkit-transition: opacity 1s;
    -moz-transition: opacity 1s;
    transition: opacity 1s;
}
slider-banner a.active{
    z-index: 1;
    opacity: 1;
}
@media screen and (max-width: 1024px) {
    header-sticky {
        margin-bottom: 2rem;
    }
    header {
        display: grid;
        grid-template-columns: auto 1fr auto;
        place-items: center;
        grid-auto-flow: dense;
        padding: 0 2rem;
    }
    live-search,
    nav {
        display: none;
    }
    live-search.active,
    nav.active {
        display: flex;
        grid-column-end: span 3;
        width: 100%;
    }
    header-mobile {
        display: grid;
    }
    nav a {
        width: 100%;
        min-height: 40px;
    }
    .container {
        max-width: 768px;;
        min-height: auto;
        gap: 2rem;
        margin: auto;
    }
    main,
    article {
       max-width:100%;
    }
    main {
        flex-direction: column-reverse;
        padding: 0 2rem;
    }
    article-author {
        display: none!important;
    }
    .nav-items {
        width: 100%;
        min-height: auto;
        border: none;
        margin: auto;
        max-width: 100%;
        min-width: auto;
    }
    aside-highlights {
        max-width: 100%;
        min-width: auto;
        padding: 0;
    }
    aside-highlights-header-tabs {
        padding-top: 1rem;
    }
    .nav-items > btn-stash:first-child {
        display: flex;
    }
    .nav-items > btn-stash.active:first-child {
        background: var(--border-color);
        border-radius: 0.25rem;
        margin-bottom: 0.5rem;
    }
    aside {
        display: none;
    }
    aside.active {
        display: block;
    }
    .filter-results {
        gap: 2rem;
    }
    .paginationjs {
        margin-bottom: 0;
    }
}
@media screen and (max-width: 768px) {
    .container {
        gap: 1rem;
    }
    main {
        padding: 0 1rem;
    }
    .nav-items {
        padding: .5rem;
    }
}
@media screen and (max-width: 425px) {
    .filter-results-items {
        flex-direction: column;
        gap: 1rem;
    }
    .filter-results-item {
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .filter-results-item:last-child {
        gap: 0.5rem;
    }
    article-summary > div {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .summary-poster,
    .summary-poster img {
        width: 100%;
        height: auto;
    }
    .summary-synopsis {
        text-align: center;
    }
    .summary-column,
    .summary-crew,
    .summary-cast,
    .summary-genre,
    .summary-runtime {
        align-items: center;
        justify-content: center;
    }
}
.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5rem;
    gap: .5rem;
}
.pagination a,
.pagination span {
    padding: .5rem 1rem;
    border: 1px solid var(--border-color);
    border-radius: 3px;
}
.pagination a.active,
.pagination span.active {
    background: var(--hover);
}
.pagination a:hover {
    background: var(--hover);
    cursor: pointer;
}
.pagination a.active:hover,
.pagination span.active:hover {
    cursor: default;
}
.paginationjs {
    margin: 3rem 0;
    cursor: default;
}
.paginationjs .paginationjs-pages ul {
    display: flex;
    align-items: center;
    justify-content: center;
}
.paginationjs .paginationjs-pages li {
    border: 1px solid var(--border-color);
    border-right: none;
    list-style: none;
}
.paginationjs .paginationjs-pages li:first-child,
.paginationjs .paginationjs-pages li:first-child > a {
    border-radius: 3px 0 0 3px;
}
.paginationjs .paginationjs-pages li > a {
    display: flex;
    padding: .5rem 1rem;
}
.paginationjs .paginationjs-pages li.active > a {
    background: var(--hover);
}
.paginationjs .paginationjs-pages li.disabled > a {
    opacity: 0.3;
}
.paginationjs .paginationjs-pages li > a:hover {
    background: var(--background);
}
.paginationjs .paginationjs-pages li.disabled > a:hover {
    background: transparent;
}
.paginationjs .paginationjs-pages li.paginationjs-next {
    border-right: 1px solid var(--border-color);
}
.paginationjs .paginationjs-pages li:last-child {
    border-right: 1px solid var(--border-color);
    border-radius: 0 3px 3px 0;
}
.paginationjs .paginationjs-pages li:last-child > a {
    border-radius: 0 3px 3px 0;
}
@keyframes showLineConnector {
    0% {
        height: 0
    }
    to {
        height: 50%
    }
}
@keyframes showDotContent {
    0% {
        opacity: 0
    }
    to {
        opacity: 1
    }
}
.line-update {
    display: flex;
    flex-direction: column;
    font-size: 13px;
    color: var(--color);
    padding: 0 1rem;
    position: relative;
}
.line-update-item {
    position: relative;
    display: flex;
    align-items: center;
    padding: .5rem 0;
}
.line-update-item:after,
.line-update-item:before {
    position: absolute;
    content: "";
    width: 2px;
    left: 3px;
    background: var(--color);
    display: block;
    -webkit-animation: showLineConnector .7s .7s forwards;
    animation: showLineConnector .7s .7s forwards;
    height: 0;
}
.line-update-item:last-of-type:after,
.line-update-item:first-of-type:before {
    height: 0;
    -webkit-animation: none;
    animation: none
}
.line-update-item:after {
    bottom: 0;
}
.line-update-item:before {
    top: 0;
}
.line-update-item-left {
    position: absolute;
    height: 8px;
    width: 8px;
    border-radius: 50%;
    -webkit-transition: border .2s;
    transition: border .2s;
    border: 1px solid var(--color);
    background: var(--color);
    z-index: 10;
    opacity: 0;
    -webkit-animation: showDotContent forwards .35s .2s;
    animation: showDotContent forwards .35s .2s;
}
.line-update-item-right {
    padding-left: 1.5rem;
}
.line-update-item-right div {
    display: flex;
    align-items: center;
}


