---
layout: default
---

<section class="filter__taxonomy">
	{% if site.data.filter[page.taxonomy] %}
	<div class="filter__items">
		{% for items in site.data.filter[page.taxonomy] %}
			<button class="filter__item" data-term="{{ page.taxonomy }}" data-query="{{ items.item }}">{{ items.item | strip }}</button>
		{% endfor %}
	</div>
	{% endif %}
	<div class="filter__items-header">
		<div class="filter__items-header-term"></div>
	</div>
	<div class="filter__items-content">
		<div class="filter__items-content-results"></div>
	</div>
</section>